# 操作系统生成文件
.DS_Store          # Mac
Thumbs.db          # Windows
desktop.ini        # Windows

# 编辑器/IDE相关
.idea/             # JetBrains IDE
.vscode/           # VS Code
*.swp              # Vim临时文件

# 目录
target/
/log
/sqlLog
result*
/target
log/jfinal_demo_for_maven.log
