# 操作系统生成文件
.DS_Store          # Mac
Thumbs.db          # Windows
desktop.ini        # Windows

# 编辑器/IDE相关
.idea/             # JetBrains IDE
.vscode/           # VS Code
*.swp              # Vim临时文件

# 目录
target/             #启动时生成的文件夹
log/                #日志文件
sqlLog/             #sql日志文件
result*             # 忽略所有以 "result" 开头的文件
src/main/java/com/xlerp/common/model/   #model文件自动商城不用上传
/target
